<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Game Title</title>
    <link rel="icon" href="icons/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      defer
    ></script>
  </head>
  <body>
    <header
      hx-get="components/header.html"
      hx-trigger="load"
      hx-swap="outerHTML"
    ></header>

    <section class="heroImage-container">
      <img
        src="images/screenshot_redHallway.webp"
        alt="Long narrow hallway with wooden floor and closed doors on both sides illuminated by intense red light from an open doorway at the end"
      />
      <div class="heroPlatformLinks">
        <a
          class="platform-link"
          href="https://store.steampowered.com"
          target="_blank"
          rel="noreferrer"
          >STEAM</a
        >
        <a
          class="platform-link"
          href="https://itch.io"
          target="_blank"
          rel="noreferrer"
          >ITCH.IO</a
        >
      </div>
    </section>

    <section class="mainContent-container">
      <article class="description">
        <h1>What is this game about?</h1>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
          kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
          amet. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
          esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
          at vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          Nam liber tempor cum soluta nobis eleifend option congue nihil
          imperdiet doming id quod mazim placerat facer possim assum. Lorem
          ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
          nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
          vel eum iriure dolor in hendrerit in vulputate velit esse molestie
          consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
          no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
          dolor sit amet, consetetur sadipscing elitr, sed diam
        </p>
      </article>
      <img
        src="images/screenshot_basementDoor.webp"
        alt="Dimly lit hallway with an open door leading to a dark basement"
      />
      <img
        src="images/screenshot_forestAtNight.webp"
        alt="Dark forest scene at night illuminated by blue light from a police car shining through the trees"
      />
      <img
        src="images/screenshot_houseAtNight.webp"
        alt="House in a dark forest at night with red light glowing from a window"
      />
      <img
        src="images/screenshot_crimeScene.webp"
        alt="Forest path blocked by yellow police tape stretched between two brick pillars with trees and fog in the background"
      />
      <img
        src="images/screenshot_houseHallway.webp"
        alt="Dimly lit narrow hallway with wooden floor and ceiling lights, open doorway revealing a dark staircase."
      />
      <img
        src="images/screenshot_forestMoonlight.webp"
        alt="Dark forest scene at night with tall trees and a fallen tree across a slope."
      />
    </section>

    <section class="newsletter">
      <div
        hx-get="components/newsletter.html"
        hx-trigger="load"
        hx-swap="outerHTML"
      ></div>
    </section>

    <footer>
      <div
        hx-get="components/footer.html"
        hx-trigger="load"
        hx-swap="outerHTML"
      ></div>
    </footer>
    <script src="scripts/script.js"></script>
  </body>
</html>
