<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media | Game Title</title>
    <link rel="icon" href="icons/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"></script>
  </head>
  <body>
      <header
        hx-get="components/header.html"
        hx-trigger="load"
        hx-swap="outerHTML"
      ></header>
    <section class="media-container">
      <h1>Screenshot1</h1>
      <img
        src="images/screenshot_forestAtNight.png"
        alt="Screenshot of a forest at night, police car with flashing lights in the background."
      />
      <h1>Screenshot2</h1>
      <img
        src="images/screenshot_houseAtNight.png"
        alt="Screenshot of a house in a forest at night with a bright red light shining through the windows."
      />
      <h1>Screenshot3</h1>
      <img
        src="images/screenshot_basementDoor.png"
        alt="Screenshot of a dark doorway leading to a basement."
      />
    </section>
    <footer>
      <div
        hx-get="components/footer.html"
        hx-trigger="load"
        hx-swap="outerHTML"
      ></div>
    </footer>
    <script src="scripts/activePage.js"></script>
  </body>
</html>
