<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media | Game Title</title>
    <link rel="icon" href="icons/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"></script>
  </head>
  <body>
    <header
      hx-get="components/header.html"
      hx-trigger="load"
      hx-swap="outerHTML"
    ></header>
    <section class="heroImage-container">
      <img
        src="images/screenshot_forestMoonlight.png"
        alt="Image of a forest crime scene."
      />
    </section>
    <div class="mediaButtons">
      <button class="mediaSelection active" data-target="videos">VIDEOS</button>
      <button class="mediaSelection" data-target="screenshots">
        SCREENSHOTS
      </button>
    </div>

    <section class="mediaContent" id="videos">
      <div class="mediaGrid">
        <div class="mediaCard">
          <iframe
            src="https://www.youtube.com/embed/dQw4w9WgXcQ "
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="mediaCard">
          <iframe
            src="https://www.youtube.com/embed/dQw4w9WgXcQ "
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="mediaCard">
          <iframe
            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="mediaCard">
          <iframe
            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="mediaCard">
          <iframe
            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="mediaCard">
          <iframe
            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </section>

    <section class="mediaContent hidden" id="screenshots">
      <div class="mediaGrid">
        <div class="mediaCard">
          <img
            src="images/screenshot_basementDoor.png"
            alt="Image of a door leading to a dark basement"
          />
        </div>
        <div class="mediaCard">
          <img
            src="images/screenshot_crimeScene.png"
            alt="Image of a forest crime scene"
          />
        </div>
        <div class="mediaCard">
          <img
            src="images/screenshot_forestAtNight.png"
            alt="Image of a forest at night with police lights illuminating the trees"
          />
        </div>
        <div class="mediaCard">
          <img
            src="images/screenshot_houseAtNight.png"
            alt="Image of a house at night with a bright red light shining through a window"
          />
        </div>
        <div class="mediaCard">
          <img
            src="images/screenshot_houseHallway.png"
            alt="Image of a house hallway at night"
          />
        </div>
        <div class="mediaCard">
          <img
            src="images/screenshot_redHallway.png"
            alt="Image of a hallway with intense red light"
          />
        </div>
      </div>
    </section>
    <div class="pagination">
      <a class="pageLink" href="media.html">1</a>
      <a class="pageLink" href="media.html">2</a>
      <a class="pageLink" href="media.html">3</a>
    </div>

    <section class="newsletter">
      <h1>Newsletter</h1>
      <p>
        Get updates about development progress, new trailers, and release
        announcements.
      </p>
      <form>
        <input type="email" placeholder="Enter your email" required /> <br />
        <button type="submit">Subscribe</button>
      </form>
    </section>

    <footer>
      <div
        hx-get="components/footer.html"
        hx-trigger="load"
        hx-swap="outerHTML"
      ></div>
    </footer>
    <script src="scripts/script.js"></script>
    <div class="lightbox" id="lightbox">
      <span class="lightboxClose">✕</span>
      <img src="" alt="Screenshot" id="lightboxImg" />
    </div>
  </body>
</html>
