<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News | Game Title</title>
    <link rel="icon" href="icons/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"></script>
  </head>
  <body>
    <header
      hx-get="components/header.html"
      hx-trigger="load"
      hx-swap="outerHTML"
    ></header>

    <section class="heroImage-container">
      <img
        src="images/screenshot_crimeScene.png"
        alt="Image of a forest crime scene."
      />
    </section>

    <!--Main content of the news page-->
    <section class="articleGrid">
      <!--Article 1-->
      <div class="articleCard">
        <div class="articleText">
          <a class="articleLink" href="article.html"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed</a
          >
          <p class="articlePreview">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p class="articleDate">12.05.2026</p>
        </div>
        <img
          class="articleImage"
          src="images/screenshot_redHallway.png"
          alt="Image of a hallway with intense red lighting."
        />
      </div>
      <!--Article 2-->
      <div class="articleCard">
        <div class="articleText">
          <a class="articleLink" href="article.html"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed</a
          >
          <p class="articlePreview">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p class="articleDate">02.05.2026</p>
        </div>
        <img
          class="articleImage"
          src="images/screenshot_basementDoor.png"
          alt="Image of a door leading to a dark basement"
        />
      </div>
      <!--Article 3-->
      <div class="articleCard">
        <div class="articleText">
          <a class="articleLink" href="article.html"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed</a
          >
          <p class="articlePreview">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p class="articleDate">16.04.2026</p>
        </div>
        <img
          class="articleImage"
          src="images/screenshot_forestAtNight.png"
          alt="Image of a forest at night with police lights illuminating the trees."
        />
      </div>
      <!--Article 4-->
      <div class="articleCard">
        <div class="articleText">
          <a class="articleLink" href="article.html"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed</a
          >
          <p class="articlePreview">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p class="articleDate">05.04.2026</p>
        </div>
        <img
          class="articleImage"
          src="images/screenshot_crimeScene.png"
          alt="Image of a forest crime scene."
        />
      </div>
      <!--Article 5-->
      <div class="articleCard">
        <div class="articleText">
          <a class="articleLink" href="article.html"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed</a
          >
          <p class="articlePreview">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p class="articleDate">14.03.2026</p>
        </div>
        <img
          class="articleImage"
          src="images/screenshot_forestMoonlight.png"
          alt="Image of a forest at night with moonlight shining through the trees"
        />
      </div>
      <!--Article 6-->
      <div class="articleCard">
        <div class="articleText">
          <a class="articleLink" href="article.html"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed</a
          >
          <p class="articlePreview">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p class="articleDate">21.02.2026</p>
        </div>
        <img
          class="articleImage"
          src="images/screenshot_houseHallWay.png"
          alt="Image of a house hallway at night."
        />
      </div>
    </section>
    <section class="newsletter">
        <h1>Newsletter</h1>
        <p>
          Get updates about development progress, new trailers, and release
          announcements.
        </p>
        <form>
          <input type="email" placeholder="Enter your email" required /> <br />
          <button type="submit">Subscribe</button>
        </form>
      </section>

    <footer>
      <div
        hx-get="components/footer.html"
        hx-trigger="load"
        hx-swap="outerHTML"
      ></div>
    </footer>
    <script src="scripts/activePage.js"></script>
  </body>
</html>
