<a
  class="social-link"
  href="https://instagram.com"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src="icons/instagram-white-icon.png" alt="Instagram Icon" />
</a>
<a
  class="social-link"
  href="https://youtube.com"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src="icons/youtube-app-white-icon.png" alt="YouTube Icon" />
</a>
<a
  class="social-link"
  href="https://tiktok.com"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src="icons/tiktok-simplified-white-icon.png" alt="TikTok Icon" />
</a>

<section>
  <p>&copy; 2026 Game Title <br />Developed by Sune Roch.</p>
</section>

<a
  class="platform-link"
  href="https://store.steampowered.com"
  target="_blank"
  rel="noopener noreferrer"
  >steam</a
>
<a
  class="platform-link"
  href="https://itch.io"
  target="_blank"
  rel="noopener noreferrer"
  >itch.io</a
>
