<nav>
  <div class="nav-wrapper">
    <img class="gameLogo" src="images/GameTitle.png" alt="Logo of the game Obscurum" />
    <button class="hamburger" id="hamburgerBtn" aria-label="Open Menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul id="navMenu">
      <li>
        <a href="index.html">home</a>
      </li>
      <li>
        <a href="news.html">news</a>
      </li>
      <li>
        <a href="media.html">media</a>
      </li>
      <li>
        <a href="about.html">about</a>
      </li>
    </ul>
  </div>
</nav>
